#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes side-bar-icon {
  0% {
    transform: translateX(0px);
  }

  50% {
    transform: translateX(-10px);
  }

  100% {
    transform: translateX(0px);
  }
}

.side-bar-icon {
  animation: side-bar-icon;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: infinite;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.login::-webkit-scrollbar {
  display: none;
}
.login::-webkit-scrollbar {
  width: 0;
}

/* side bar */

.hover-effect:hover > div {
  background-color: #007a3f;
}

/* dashboard  */
.textGra {
  font-family: "Arial", sans-serif;
  font-size: 3em;
  background: linear-gradient(45deg, #ff8a00, #e52e71);
  -webkit-background-clip: text;
  background-clip: text;
}

.gradient-text {
  background: linear-gradient(to right, #ff7e5f, #feb47b);
  -webkit-background-clip: text; /* For Safari and older browsers */
  background-clip: text;
  color: transparent;
  display: inline-block;
}

.text-gradient {
  background: linear-gradient(to right, #ff7e5f, #feb47b);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
