@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Montserrat";
  box-sizing: border-box;

  
}

/* // add the code bellow */
/* ::-webkit-scrollbar {
    display: none;
  } */